html,
body {
  height: 100%;
  width: 100%;
  background-color: #d1d1d1;
}

h1,
h2 {
  font-family: fantasy;
  font-size: 30px;
  color: #0091ff;
  background-color: #ffd952;
  text-align: center;
}

h2 {
  font-size: 25px;
}

p {
  font-family: monospace;
  font-size: 20px;
  color: #0091ff;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.intro {
  font-style: italic;
  font-weight: bold;
}
